<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="mechanic_model_exo6gdl">
  <link
    name="inertial">
    <inertial>
      <origin
        xyz="-2.55411936634709E-15 -1.30745378752312E-17 -0.0167444902118063"
        rpy="0 0 0" />
      <mass
        value="0.0277842883466461" />
      <inertia
        ixx="5.88562650074952E-06"
        ixy="-4.72268099762097E-22"
        ixz="5.15087342452081E-23"
        iyy="5.95724375817234E-06"
        iyz="-3.20298136557097E-22"
        izz="1.03978583869216E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/inertial.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/inertial.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.0106809535945396 0.00868295136758494 0.0552292034616581"
        rpy="0 0 0" />
      <mass
        value="0.044960075942968" />
      <inertia
        ixx="2.7948432434881E-05"
        ixy="-1.87061191681349E-09"
        ixz="-7.81394001942823E-06"
        iyy="3.05258876976549E-05"
        iyz="7.65282176048547E-10"
        izz="5.5313050394128E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="inertial" />
    <child
      link="link1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.0224333560094355 2.27027663678102E-08 0.0158066348359009"
        rpy="0 0 0" />
      <mass
        value="0.0203858204963203" />
      <inertia
        ixx="1.32941069730988E-06"
        ixy="3.10777452383335E-12"
        ixz="8.04384776014172E-07"
        iyy="2.41993818939998E-06"
        iyz="1.91453387492733E-12"
        izz="1.9452498388042E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q2"
    type="revolute">
    <origin
      xyz="0.0323552493341545 0 0.105133904334066"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.0102551276298913 -8.60332663801944E-09 0.00922495292970382"
        rpy="0 0 0" />
      <mass
        value="0.00333782776468066" />
      <inertia
        ixx="1.63779073139352E-07"
        ixy="-3.00540934781443E-13"
        ixz="4.90940044410776E-08"
        iyy="2.22873104365642E-07"
        iyz="7.21279035854618E-13"
        izz="1.13225251473632E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q3"
    type="revolute">
    <origin
      xyz="-0.0361375560878337 0 0.0250384839032992"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="-0.831636482590333 0 0.555320412757156" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.00584481412976537 -6.47355257169923E-06 0.0231116436931379"
        rpy="0 0 0" />
      <mass
        value="0.0288964463729056" />
      <inertia
        ixx="1.84407577659644E-06"
        ixy="1.09180832884763E-09"
        ixz="1.1521928023612E-08"
        iyy="1.98086899908725E-06"
        iyz="-1.09143826938808E-09"
        izz="1.24517228929573E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q4"
    type="revolute">
    <origin
      xyz="-0.0130095953517694 0 0.0228689244744532"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-6.4826395308748E-05 0.012471617228465 0.00568685835266433"
        rpy="0 0 0" />
      <mass
        value="0.0108768962192842" />
      <inertia
        ixx="4.43219333128473E-07"
        ixy="-8.29413434743765E-17"
        ixz="3.71398910921181E-09"
        iyy="2.25114624567635E-07"
        iyz="-1.09149648389532E-09"
        izz="4.02439244510635E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q5"
    type="revolute">
    <origin
      xyz="-0.000179990761935058 0 0.042340751540877"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-0.00999471073167814 -1.9343185981965E-09 0.0183887633408275"
        rpy="0 0 0" />
      <mass
        value="0.00726735103486083" />
      <inertia
        ixx="9.25873169963485E-07"
        ixy="1.74470487122258E-13"
        ixz="8.88062462570576E-08"
        iyy="1.01752426404158E-06"
        iyz="-1.54707150988666E-13"
        izz="1.01820007511311E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.85" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mechanic_model_exo6gdl/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q6"
    type="revolute">
    <origin
      xyz="0 0 0.00600000000000012"
      rpy="0 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>